._*
*.o
build
*.swp
testtool/rhizofs_pb2.py
*.pyc
.waf-*
.lock-wafbuild
callgrind.out.*
build-stamp
configure-stamp
debian/files
debian/rhizofs.debhelper.log
debian/rhizofs.substvars
debian/rhizofs/
src/proto/rhizofs.pb-c.c
src/proto/rhizofs.pb-c.h
/bin
