Source: rhizofs
Section: net
Priority: optional
Maintainer: Nico Mandery <nico@nmandery.net>
Build-Depends: debhelper (>= 6.0.7~), libzmq3-dev, pkg-config,
        libprotobuf-c-dev, protobuf-c-compiler,
        libfuse-dev
Standards-Version: 3.9.1

Package: rhizofs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: a simple remote filesystem based on FUSE, ZeroMQ and protobuf-c

Package: rhizofs-dbg
Section: debug
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: a simple remote filesystem based on FUSE, ZeroMQ and protobuf-c
        This package contains the debugging symbols.
