<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>__LABEL__</string>
    <key>ProgramArguments</key>
    <array>
        <string>__RHIZOSRV_BIN__</string>
        <string>-f</string>
        <string>-e</string>
        <string>--keyfile=__KEYFILE__</string>
        <string>--authorized-keys-file=__AUTHORIZED_KEYS_FILE__</string>
        <string>__LISTEN_URL__</string>
        <string>__SHARE_DIR__</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <dict>
        <key>SuccessfulExit</key>
        <false/>
    </dict>
    <key>ThrottleInterval</key>
    <integer>20</integer>
    <key>StandardOutPath</key>
    <string>__LOG_DIR__/__NAME__.log</string>
    <key>StandardErrorPath</key>
    <string>__LOG_DIR__/__NAME__.log</string>
</dict>
</plist>
